<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) -%kvp- %msg %X %n</pattern>
    </encoder>
  </appender>

  <logger name="com.colofabrix.scala.homedata" level="INFO"/>
  <logger name="com.colofabrix.scala.cuttlefish" level="DEBUG"/>
  <logger name="com.colofabrix.scala.tado4s" level="INFO"/>
  <logger name="com.colofabrix.scala.timeflux" level="INFO"/>
  <logger name="com.colofabrix.scala.timeflux.logger" level="TRACE"/>
  <logger name="com.colofabrix.scala" level="OFF"/>
  <logger name="org.http4s.client.middleware" level="OFF"/>

  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
